
/* v1.0 */

body{
  /* zoom:1.5; */
  background-color:#eee;
}

.md_source{
  display: none;
}

.md_render{
  /* position:absolute; */
  /* top:50%; */
  /* left:50%; */
  /* transform: translate(-50%,-50%); */
}

.dcenter{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}